/* Flex                           */
/**********************************/
/* line 3, ../sass/flex.scss */
.flexBetween {
  display: flex;
  justify-content: space-between;
}

/* line 9, ../sass/flex.scss */
.flexLeft {
  display: flex;
  justify-content: flex-start;
}

/* line 14, ../sass/flex.scss */
.flexRight {
  display: flex;
  justify-content: flex-end;
}

/* line 19, ../sass/flex.scss */
.flexCenter {
  display: flex;
  justify-content: center;
}

/* line 24, ../sass/flex.scss */
.flexAlignCenter {
  display: flex;
  align-items: center;
}

/* line 29, ../sass/flex.scss */
.flexJustifySpaceAround {
  display: flex;
  justify-content: space-around;
}

/* line 35, ../sass/flex.scss */
.flexColumn {
  display: flex;
  flex-direction: column;
}

/* line 40, ../sass/flex.scss */
.flexAlignEnd {
  display: flex;
  align-items: flex-end;
}

/* line 45, ../sass/flex.scss */
.flexEnd {
  align-items: flex-end;
}

/* line 49, ../sass/flex.scss */
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

/* line 54, ../sass/flex.scss */
.wrap {
  display: flex;
  flex-wrap: wrap;
}

/* line 60, ../sass/flex.scss */
.space-between {
  align-content: space-between;
  display: inline-flex;
}

/**********************************/
